{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/django-python-logo.png' %}" type="image/x-icon">
    
    <title>{% block title %}Django{% endblock title %}</title>
</head>
<body>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    {% block content %}
    {% endblock %}

    {% else %}
    {% block sign %}
    {% endblock %}
    {% endif %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>