{% extends 'index.html' %}
{% block title %}SignUp{% endblock title %}
{% block sign %}
<section class="signup">
    <h1>SignUp</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="SignUp">
    </form>
    Already have an account? then <a href="signin">SignIn</a>
</section>
{% endblock %}

